<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Sports Watcher</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
      <a class="nav-link" routerLink="/matches" routerLinkActive="active">Matches</a>
      <a class="nav-link" routerLink="/rankings" routerLinkActive="active">Rankings</a>
      <button type="button" class="ms-3 btn btn-secondary" (click)="onSignOut()">Sign Out</button>
    </div>
  </div>
</nav>
