<h1>YATA: Yet Another To Do App</h1>
<h2>(This time, with Angular Signals!)</h2>

<app-todo-form
  [item]="todosService.selectedItem()"
  (created)="todosService.createItem($event)"
  (edited)="todosService.editItem($event.id, $event.name)"
  (deselected)="todosService.clearSelecteItem()"
/>

<app-todos-list
  [items]="todosService.items()"
  (toggledItem)="todosService.toggleItem($event)"
  (selectedItem)="todosService.selectItem($event)"
  (removedItem)="todosService.removeItem($event)"
/>

<div *ngIf="uiService.notification() as notif" class="notification">
  {{ notif }}
  <button type="button" (click)="uiService.clearNotification()">
    <ng-icon name="aspectsClose"></ng-icon>
  </button>
</div>
