.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border: 2px solid #ccc;
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  min-width: 400px;
  max-width: min(500px, 95vw);
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  button {
    padding: 0.4rem 0.5rem;
    margin: 0;
  }
}
