<h1>Signals 101</h1>

<h2>Counters</h2>
<app-counter-vanilla />
<app-counter-subject />
<app-counter-signal />
<app-counter-external-signal />

<h2>People</h2>
<app-people />

<h2>Clocks</h2>
<!-- Clock vanilla -->
<button type="button" (click)="onToggleClock('vanilla')">
  {{ clocks()['vanilla'] ? 'Close' : 'Open' }} vanilla clock
</button>
<app-clock-vanilla *ngIf="clocks()['vanilla']" />

<!-- Clock DestroyRef -->
<button type="button" (click)="onToggleClock('destroyref')">
  {{ clocks()['destroyref'] ? 'Close' : 'Open' }} DestroyRef clock
</button>
<app-clock-destroyref *ngIf="clocks()['destroyref']" />

<!-- Clock takeUntilDestroy() -->
<button type="button" (click)="onToggleClock('takeuntildestroy')">
  {{ clocks()['takeuntildestroy'] ? 'Close' : 'Open' }} takeUntilDestroy() clock
</button>
<app-clock-takeuntildestroy *ngIf="clocks()['takeuntildestroy']" />

<!-- Clock external -->
<button type="button" (click)="onToggleClock('external')">
  {{ clocks()['external'] ? 'Close' : 'Open' }} external clock
</button>
<app-clock-external *ngIf="clocks()['external']" />

<!-- Clock effect -->
<button type="button" (click)="onToggleClock('effect')">
  {{ clocks()['effect'] ? 'Close' : 'Open' }} effect clock
</button>
<app-clock-effect *ngIf="clocks()['effect']" />
