<ng-container *ngIf="items.length; else noItemsTemplate">
  <ul class="todos-list">
    <li
      *ngFor="let item of items; let last = last"
      class="todo-item"
      [class.--done]="item.isDone"
      [class.--last]="last"
    >
      <div class="todo-item__actions">
        <button type="button" (click)="onRemoveItem(item.id)">Remove</button>
        <button type="button" (click)="onEditItem(item.id)">Edit</button>
        <button type="button" (click)="onToggleItem(item.id)">Toggle</button>
      </div>

      <div class="todo-item__info">
        {{ item.name }}
      </div>
    </li>
  </ul>
</ng-container>

<!-- Template: No items template -->
<ng-template #noItemsTemplate>
  No items
</ng-template>
